@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

p{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}

.content{
  width: 100%;
  min-height: 100vh;
  max-width: 120rem;
  margin: 0 auto;
  box-sizing: border-box;
}

a{
  text-decoration: none;;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  margin: 0 0 1rem 0;
  font-weight: 700;
}

h1{
  font-size: 4rem;
}
h2{
  font-size: 4.6rem;
}
h3{
  font-size: 6rem;
  text-align: center;
}
img{
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
body > section {
  padding: 10rem 0;
}


/*Animations*/
.pulse{
  transition: all 0.2s ease-in-out;
}

.pulse:hover {
  transform: scale(1.04);
}

.showModal {
  animation: showModal 0.3s ease-in-out;
}

.closeModal {
  animation: showModal 0.3s ease-in-out reverse;
}

.cardQuiz{
  border-radius: 1.5rem;
  padding: 2rem;
  position: relative;
  width: 100%;
}
.cardQuiz::before{
  content: "";
  position: absolute;
  bottom: -1.5rem;
  right: -1.5rem;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  padding: 1rem;
  z-index: -1;
}

@keyframes showModal {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}